body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #c5ddf3;
}

/*--- Home button Style --*/
.home{
    height:65px;
    width:55px;
    margin: 10px;
  }
   .home img{
      height:60px;
      width:60px;
      border-radius: 100%;
   }

   .main-content-class{
    display:flex;
   }
/*--- ---*/
.about-section {
    background-color: #007bff;
    color: white;
    text-align: center;
    width: 100%;
    position: fixed;
    padding: 10px;
    z-index: 1000;
}

.about-content {
    padding: 20px;
    margin: 20px auto;
    max-width: 900px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.team-section {
    padding: 20px;

}

.team-member {
    text-align: center;
    margin-bottom: 30px;
}

.team-member img {
    border-radius: 50%;
    width: 120px;
    height: 150px;
    object-fit: cover;
}

.team-member h5 {
    margin: 10px 0 5px;
    font-size: 18px;
}

.team-member p {
    font-size: 14px;
    color: #666;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: white;
    color: rgb(197, 195, 195);
}