<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/adminLogin.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/allmessage.css')}}">

</head>
<body>
        <!-- Display flash messages -->
       <div class="message">
        <!-- Display flash messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == 'error' %}
                        <p id="error" style="color:red"> {{ message }} </p> 
                    {% elif category == 'success' %}
                        <p id="success" style="color:green"> {{ message }} </p> 
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
      </div>
    <!-- Admin Login Form -->
    <div class="loginpage">
        <div class="log-icon">
          <h2>Admin Login</h2>
           <!-- Login icon -->
          <img src="static\css\loginicon.png">
        </div>
          <form method="POST" action="/adminLogin">    
              <div class="form-group">
                  <label for="username">Admin Name</label>
                  <input type="text" class="form-control" id="username" name="username" onclick="hideError_message()" autocomplete="off" required>
              </div>
              <div class="form-group">
                  <label for="password">Enter Password</label>
                  <input type="password" class="form-control" id="password" name="password" autocomplete="off" required>
              </div>
              <div class="form-group">
                <label for="securityPin">Security Pin</label>
                <input type="password" class="form-control" id="securityPin" name="securityPin" autocomplete="off" required>
            </div>
  
              <!-- Submit Button -->
              <button type="submit">SUBMIT</button>
  
              <!-- Additional Links -->
              <div class="link">
                <p style="text-align: center; text-decoration: none;"><a href="/" style="text-decoration: none;">← Back to Home</a></p>
              </div>
          </form>
    </div>
       <script>
          function hideError_message(){
            document.getElementById('error').innerText='';
            document.getElementById('success').innerText='';
          }
       </script>
</body>
</html>