<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='pic/logo.png') }}">

    <title>Document</title>
    <style>
        
    </style>
</head>
<body>
    
        <form action="/createnewusername" method="POST">
            
            <label>Create username</label>
            <input type="text" name="new_username" placeholder="" required>

            <label>Confirm username</label>
            <input type="text" name="cofirm_username" placeholder="" required>
            
            <button type="submit">Submit</button>

        </form>

    </div>
</body>
</html>