<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Password</title>
    <style>
      .container{
        width:200px;
        height: 300px;
        padding: 20px;
        border:groove 2px black;
        border-radius: 20px;
        margin: 100px;
        justify-self: center;
      }      
      #confirm{
        color:green;
      }
    </style>
</head>
<body>
    <div class="container">
        <h1>Create your password</h1>
        <form method="POST" action="/createpassword">
            <div class="nPassword">
                <label for="newpassword">Create new password</label>
                <input type="password" id="newpassword" name="newpassword" placeholder="" required>
            </div>
            <div class="cPassword">
                <label for="confirmpassword">Confirm new password</label>
                <input type="password" id="confirmpassword" name="confirmpassword" placeholder="" required>
            </div>
            <br>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>



